@import '~normalize.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.text {
  user-select: none;
  font-size: 60px;
  font-weight: bold;
  color: white;
  background: rgba(128, 128, 128, 0.1);
  padding: 20px 40px;
  border-radius: 20px;
  transition: all 0.3s ease;
  &:hover {
    color: rgb(51, 146, 255);
    font-size: 70px;
    cursor: pointer;
    padding: 30px 60px;
  }
}
